<div class="modal fade" id="currency-create-modal" tabindex="-1" aria-labelledby="currency-create-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            {{ form_start(create_form, { action: path('admin.configuration.currencies.create'), method: 'post', attr: { 'data-testid': 'currency-create-form' } }) }}
                <div class="modal-header">
                    <h2 class="modal-title h5" id="currency-create-modal-title">{{ 'Create a new currency'|trans }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {% include '@BackOfficeDefaultTwig/configuration/currency/_form_fields.html.twig' with { form: create_form } only %}
                    {{ safe_hook('currency.create-form') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary" data-testid="currency-create-submit">
                        <i class="bi bi-check2" aria-hidden="true"></i> {{ 'Create this currency'|trans }}
                    </button>
                </div>
            {{ form_end(create_form) }}
        </div>
    </div>
</div>
