<div class="modal fade" id="currency-edit-modal-{{ currency_id }}" tabindex="-1" aria-labelledby="currency-edit-modal-title-{{ currency_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            {{ form_start(form, { action: path('admin.configuration.currencies.save'), method: 'post', attr: { 'data-testid': 'currency-edit-form-' ~ currency_id } }) }}
                <div class="modal-header">
                    <h2 class="modal-title h5" id="currency-edit-modal-title-{{ currency_id }}">{{ 'Edit currency'|trans }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {% include '@BackOfficeDefaultTwig/configuration/currency/_form_fields.html.twig' with { form: form } only %}
                    {{ safe_hook('currency.edit-form', { currency_id: currency_id }) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary" data-testid="currency-edit-submit-{{ currency_id }}">
                        <i class="bi bi-check2" aria-hidden="true"></i> {{ 'Save changes'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
