{% if form.id is defined %}
    {{ form_widget(form.id) }}
{% endif %}
<div class="row g-3">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.locale) }}</div>
    <div class="col-md-4">{{ form_row(form.code) }}</div>
    <div class="col-md-4">{{ form_row(form.symbol) }}</div>
    <div class="col-md-4">{{ form_row(form.rate) }}</div>
    <div class="col-md-12">{{ form_row(form.format) }}</div>
</div>
