{# Delivery note PDF native Twig template — mirrors templates/pdf/default/delivery.html. #}
{% trans_default_domain 'pdf.default' %}
{% include '@BackOfficeDefaultTwig/pdf/_styles.html.twig' %}
<page backtop="10mm" backleft="10mm" backright="10mm" backbottom="10mm">
    <page_header>
        {{ pdf_hook('delivery.header', { 'order': order_id }) }}
    </page_header>

    <page_footer>
        {% include '@BackOfficeDefaultTwig/pdf/_footer.html.twig' %}
    </page_footer>

    <table class="table-info">
        <col style="width: 100%; padding: 0mm;" />
        <tr>
            <td>
                <h1>{{ 'DELIVERY'|trans }}</h1>
            </td>
        </tr>
        <tr>
            <td><h3>{{ 'Invoice date'|trans }} : <span>{{ invoice_date ? invoice_date|date('Y-m-d') : '' }}</span></h3></td>
        </tr>
        <tr>
            <td><h3>{{ 'Invoice REF'|trans }} : <span>{{ order_ref }}</span></h3></td>
        </tr>
        <tr>
            <td><h3>{{ 'Customer Number'|trans }} : <span>{{ customer_ref }}</span></h3></td>
        </tr>
        {% for block in pdf_hook_block('delivery.information', { 'order': order_id }) %}
            <tr>
                <td><h3>{{ block.title }} : <span>{{ block.value }}</span></h3></td>
            </tr>
        {% endfor %}
    </table>

    {{ pdf_hook('delivery.after-information', { 'order': order_id }) }}

    <table class="table-address">
        <col style="width: 50%; padding: 3mm;" />
        <col style="padding: 3mm;" />
        <tr>
            <td style="border-left: solid 1mm #f6993c;">
                <h3>{{ 'Delivery address'|trans }}</h3>
                {% set delivery_hook = pdf_hook('delivery.delivery-address', { 'module': delivery_module_id, 'order': order_id }) %}
                {% if delivery_hook|trim %}
                    {{ delivery_hook|raw }}
                {% else %}
                    {{ delivery_address_html|raw }}
                {% endif %}
            </td>
            <td style="border-left: solid 1mm #f6993c;">
                <h3>{{ 'Invoice address'|trans }}</h3>
                {{ invoice_address_html|raw }}
            </td>
        </tr>
    </table>

    {{ pdf_hook('delivery.after-addresses', { 'order': order_id }) }}

    <table style="padding-top: 5mm;">
        <col style="width: 23%; padding: 3mm;" />
        <col style="width: 65%; padding: 3mm;" />
        <col style="width: 12%; padding: 3mm;" />
        <tr>
            <td style="border:solid 1px #dddddd;background:#f1f3f4;">
                <h3 style="color:#58585a;">{{ 'Ref'|trans }}</h3>
            </td>
            <td style="border:solid 1px #dddddd;background:#f1f3f4;">
                <h3 style="color:#58585a;">{{ 'product'|trans }}</h3>
            </td>
            <td style="border:solid 1px #dddddd;background-color:#f6993c;">
                <h3 style="color:white; text-align:center;">{{ 'Quantity'|trans }}</h3>
            </td>
        </tr>
        {% for item in items %}
            <tr>
                <td style="border:solid 1px #dddddd;">
                    <p>{{ item.ref }}</p>
                    {% if item.ref != item.pse_ref %}<p>{{ item.pse_ref }}</p>{% endif %}
                </td>
                <td style="border:solid 1px #dddddd;">
                    <p>{{ item.title }}</p>
                    {% for combination in item.attribute_combinations %}
                        {{ combination.title }} - {{ combination.value }}<br>
                    {% endfor %}
                    {{ pdf_hook('delivery.product-list', { 'order_product': item.id, 'order': order_id }) }}
                </td>
                <td style="border:solid 1px #dddddd; text-align:center;">
                    <p>{{ item.quantity }}</p>
                </td>
            </tr>
            {{ pdf_hook('delivery.order-product', { 'order': order_id, 'order_product': item.id }) }}
        {% endfor %}
    </table>

    <table style="padding-top: 5mm;">
        <col style="width: 40%; padding: 3mm;" />
        <tr>
            <td class="table-3-module" style="border-left:solid 3px #f6993c; padding-top: 2mm">
                <h3>{{ 'Delivery module'|trans }}</h3>
                <p>
                    <span>{{ delivery_module_title }}</span>
                </p>
                {{ pdf_hook('delivery.after-delivery-module', { 'order': order_id, 'module_id': delivery_module_id }) }}
            </td>
        </tr>
        <tr>
            <td class="clear-none"></td>
        </tr>
    </table>

    {{ pdf_hook('delivery.after-summary', { 'order': order_id }) }}
</page>
