{% set field_name = condition.serviceId %}
<div class="mb-3">
    <label class="form-label">{{ name }}</label>
    <div class="row g-2">
        <div class="col-md-6">
            <select class="form-select" name="{{ field_name }}[operator]">
                {% for op in available_operators['quantity'] ?? [] %}
                    <option value="{{ op.value }}">{{ op.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <input type="number" min="0" step="1" class="form-control" name="{{ field_name }}[value]" value="{{ validators.values.quantity|default(1) }}">
        </div>
    </div>
</div>
