{% set field_name = condition.serviceId %}
<div class="mb-3">
    <label class="form-label">{{ name }}</label>
    <div class="row g-2">
        <div class="col-md-5">
            <select class="form-select" name="{{ field_name }}[operator]">
                {% for op in available_operators['price'] ?? [] %}
                    <option value="{{ op.value }}">{{ op.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" inputmode="decimal" class="form-control" name="{{ field_name }}[value]" value="{{ validators.values.price|default('') }}" placeholder="{{ 'Amount'|trans }}">
        </div>
        <div class="col-md-3">
            <input type="hidden" name="{{ field_name }}_currency[operator]" value="==">
            <select class="form-select" name="{{ field_name }}_currency[value]">
                <option value="{{ currency_symbol }}">{{ currency_symbol }}</option>
            </select>
        </div>
    </div>
</div>
