<div class="modal fade" id="tax-rule-create-modal" tabindex="-1" aria-labelledby="tax-rule-create-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(create_tax_rule_form, { action: path('admin.configuration.taxes-rules.add'), method: 'post', attr: { 'data-testid': 'tax-rule-create-form' } }) }}
                <div class="modal-header">
                    <h2 class="modal-title h5" id="tax-rule-create-modal-title">{{ 'Create a new tax rule'|trans }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {{ form_widget(create_tax_rule_form.locale) }}
                    {{ form_row(create_tax_rule_form.title) }}
                    {{ form_row(create_tax_rule_form.description) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary" data-testid="tax-rule-create-submit">
                        <i class="bi bi-check2" aria-hidden="true"></i> {{ 'Create this tax rule'|trans }}
                    </button>
                </div>
            {{ form_end(create_tax_rule_form) }}
        </div>
    </div>
</div>
