{% extends '@BackOfficeDefaultTwig/auth-layout.html.twig' %}

{% block title %}{{ 'Password updated'|trans({}, 'bo.default-twig') }}{% endblock %}
{% block auth_title %}{{ 'Password updated'|trans({}, 'bo.default-twig') }}{% endblock %}
{% block auth_subtitle %}{{ 'Your new password is active'|trans({}, 'bo.default-twig') }}{% endblock %}

{% block auth_content %}
    <div class="alert alert-success" role="alert" data-testid="create-password-success">
        {{ 'Your password has been successfully updated.'|trans }}
    </div>

    <a href="{{ path('admin.login') }}" class="btn btn-primary btn-lg w-100" data-testid="create-password-go-login">
        <i class="bi bi-box-arrow-in-right me-2"></i>{{ 'Login'|trans }}
    </a>
{% endblock %}
