<div class="modal fade" id="variable-edit-modal-{{ variable_id }}" tabindex="-1" aria-labelledby="variable-edit-modal-title-{{ variable_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            {{ form_start(form, { action: path('admin.configuration.variables.save'), method: 'post', attr: { 'data-testid': 'variable-edit-form-' ~ variable_id } }) }}
                <div class="modal-header">
                    <h2 class="modal-title h5" id="variable-edit-modal-title-{{ variable_id }}">{{ 'Edit variable'|trans }}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'Close'|trans }}"></button>
                </div>
                <div class="modal-body">
                    {% include '@BackOfficeDefaultTwig/configuration/variable/_form_fields.html.twig' with { form: form } only %}
                    {{ safe_hook('variable.edit-form', { variable_id: variable_id }) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary" data-testid="variable-edit-submit-{{ variable_id }}">
                        <i class="bi bi-check2" aria-hidden="true"></i> {{ 'Save changes'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
