{% if form.id is defined %}
    {{ form_widget(form.id) }}
{% endif %}
{{ form_widget(form.locale) }}
<div class="row g-3">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.title) }}</div>
    <div class="col-md-12">{{ form_row(form.value) }}</div>
    <div class="col-md-6">{{ form_row(form.hidden) }}</div>
    <div class="col-md-6">{{ form_row(form.secured) }}</div>
    {% if form.chapo is defined %}
        <div class="col-md-12">{{ form_row(form.chapo) }}</div>
        <div class="col-md-12">{{ form_row(form.description) }}</div>
        <div class="col-md-12">{{ form_row(form.postscriptum) }}</div>
    {% endif %}
</div>
