{% if form.id is defined %}{{ form_widget(form.id) }}{% endif %}

<div class="row g-3">
    <div class="col-md-3">{{ form_row(form.title) }}</div>
    <div class="col-md-4">{{ form_row(form.firstname) }}</div>
    <div class="col-md-5">{{ form_row(form.lastname) }}</div>

    <div class="col-md-6">{{ form_row(form.email) }}</div>
    <div class="col-md-6">{{ form_row(form.company) }}</div>

    {% if form.password is defined %}
        <div class="col-md-6">{{ form_row(form.password) }}</div>
        <div class="col-md-6">{{ form_row(form.password_confirm) }}</div>
    {% endif %}

    <div class="col-md-12">{{ form_row(form.address1) }}</div>
    <div class="col-md-6">{{ form_row(form.address2) }}</div>
    <div class="col-md-6">{{ form_row(form.address3) }}</div>

    <div class="col-md-3">{{ form_row(form.zipcode) }}</div>
    <div class="col-md-5">{{ form_row(form.city) }}</div>
    <div class="col-md-4">{{ form_row(form.country) }}</div>

    <div class="col-md-6">{{ form_row(form.phone) }}</div>
    <div class="col-md-6">{{ form_row(form.cellphone) }}</div>

    <div class="col-md-4">{{ form_row(form.lang_id) }}</div>
    <div class="col-md-4">{{ form_row(form.discount) }}</div>
    <div class="col-md-4 d-flex align-items-end">{{ form_row(form.reseller) }}</div>
</div>
